.city-container {
    display: flex;
    flex-direction: column;

    .header-container {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        .navigation {
            position: absolute;
            left: 0;

            a {
                text-decoration: none;
            }
        }
    }
}