.city-container {
    display: flex;
    flex-direction: column;

    .header-container {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        .navigation {
            position: absolute;
            left: 0;
            font-size: 25px;

            a {
                text-decoration: none;
            }
        }
    }

    .city-temp-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .city-weather-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        
        .city-weather {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 10px;
        }
    }
}