.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .cities-weather-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        position: relative;

        a {
            text-decoration: none;
        }

        .city-wrapper {
            width: 200px;
            border-radius: 5px;
            border: 2px solid #F7FFF7;
            margin: 5px;
            padding: 10px;
            display: flex;
            flex-direction: column;
            text-align: center;

            h3 {
                font-size: 22px;
            }
        }

        .updated {
            position: absolute;
            right: 0;
            bottom: -30px;
        }
    }
}